@import 'bulma';

.notification {
  text-align: center;
  font-size: 30px;
  font-family: 'Pompiere', cursive;
}

.middle {
  margin-left: 30px;
  margin-right: 30px;
}

.is-primary {
  font-family: 'Pompiere', cursive;
  font-size: 20px;
}

input {
  font-family: 'Pompiere', cursive;
  text-align: center;
}

.about {
  width: 75%;
  margin: auto;
  font-size: 25px;
}

.box {
    height: 250px;
    width: 250px;
    margin: 0 15px 15px 0;
    float: left;
    overflow: auto;
}
.combine{
  position: relative;
  z-index: 1;
}
.like{
  position: absolute;
  z-index: 2;
  visibility: hidden;
  margin-left: 35%;
  margin-top: 35%;
  display: flex;
}
.combine:hover .like{
  visibility: visible;
  background: #EAEAEA;;
  opacity: 0.5;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.logo-photo {
  border-radius: 15px;
}

.logo {
  font-size: 60px;
}

.likesCount {
  font-size: 25px;
}

.addPhoto-styling{
  width: 50%;
  margin: auto;
}
.card{
  float:left;
  margin-left: 10px;
}
