<p class = "about">Hi you guys! We are Liliya and Ashima and we are students at The Iron Yard in Atlanta, GA. We joined the September 2016 Front End cohort. This app is the result of our first Hackathon. The assignment was to create an Instagram-like web app where you can upload and look at photos, as well as like them and leave comments. Since we only had a few days to work on this, we don't have multi user availability. We had to build both the front and back end. So far our only exposure to back end was one week during our cohort where we learned to use AdonisJS.</p>

<br>

<p class = "about">Everyone in our class comes from very different backgrounds. I (Liliya) had no coding experience whatsoever. My career has been accounting up to this point and I truly dreaded going to work every day. After about three years of this I decided it was time for a change, and here I am...</p>

<p class = "about">As an enigneer I am passionate about solving problems and providing better solution.
