<div class = "contact-cards">

<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/282039_10150249572406190_2169258_n.jpg?oh=d3ba2a12210e75ab297c6f23f953308b&oe=58D4E688" alt="">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <div class="content notification">
          <p>
            <strong>Liliya Lantukh</strong>
            <p class="is-primary">liliya.lantukh@gmail.com</p>
            <a href = "https://github.com/llantukh"><p class="subtitle is-primary">Link to my gitHub</p></a>
            <br>
            <p>Prior to The Iron Yard I had no coding experience whatsoever. My experience here has been truly amazing. I am blown away by how much I have learned here at TIY and am so excited to be part of the tech world.</p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="images/IMG-20160603-WA0018-01.jpg" alt="">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <div class="content notification">
          <p>
            <strong>Ashima Shrivastava</strong>
            <p class="is-primary">ashima@gmail.com</p>
            <a href = "https://github.com/aashirahul"><p class="subtitle is-primary">Link to my gitHub</p></a>
            <br>
            <p>As an enigneer I am passionate about solving problems and providing better solutions. As a Frontend Engineer I look forward to contributing to the tech-world and also continue to learn and grow.</p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
