

<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="http://placehold.it/300x225" alt="">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="http://placehold.it/64x64" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-5">Liliya </p>
        <a href = "www.gmail.com"><p class="subtitle is-6">@liliya</p></a>
      </div>
    </div>

    <div class="content">
     <p class = "about">I had no coding experience whatsoever. My career has been accounting up to this point and I truly dreaded going to work every day. After about three years of this I decided it was time for a change, and here I am...</p>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="images/IMG-20160603-WA0018-01.jpg" alt="">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="images/IMG-20160603-WA0018-01.jpg" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-5">Ashima</p>
        <a href = "www.gmail.com"><p class="subtitle is-6"> ashima@gmail.com</p></a>
        <a href = "https://github.com/"><p class="subtitle is-6"> Link to gitHub</p></a>
      </div>
    </div>

    <div class="content">
      <p class = "about">As an enigneer I am passionate about solving problems and providing better solution. As a Frontend Engineer I look forward to contributing to the tech-world and also continue  to learn and grow</p></a>
    </div>
  </div>
</div>



