
<p class = "about"> Liliya - I had no coding experience whatsoever. My career has been accounting up to this point and I truly dreaded going to work every day. After about three years of this I decided it was time for a change, and here I am...</p>



<p class = "about"> Ashima - As an enigneer I am passionate about solving problems and providing better solution. At Iron Yard we learn how to approach a problem, break it up and then look for the solution. We learn various tools that helps us in getting the required solution. This whole experience at Iron Yard has equipped me to tackle problems in a systematic way.</p>
