<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{ image.image_url }}" ng-dblclick = "addlike()"/>
    </figure>
  </div>
  <div class="like"> {{image.like}} Likes</div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="http://placehold.it/64x64" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-5">John Smith</p>
        <p class="subtitle is-6">@johnsmith</p>
      </div>
    </div>

    <div class="content">
      {{ image.description }}
      <br>
     
    </div>
    
  </div>

</div>

  <form ng-submit = "submitComment(comments)">
    
      <label class="label"> Comment </label>
      <textarea class="textarea" ng-model ="comments.comment" >   </textarea>
      <input class="submitbutton" type="submit" id="submit" value="Submit"/>
    
</form>
<div class ="list" ng-repeat = "listComment in listComments">{{listComment.comment}}</div>







